
/* This is just placeholder styling */

p {
    text-align: center;
    color: aqua;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: #f7f5f5;
    margin: 0;
  }