/* Navigation Bar */

.header {
    position: absolute;
    width: 1440px;
    height: 96px;
    left: -3px;
    top: 0px;
    
    /* Background/Light-I */
    
    background: #FFFFFF;
    box-shadow: -1px 1px 2px rgba(51, 51, 51, 0.2);
}

.header-logo {
    position: absolute;
    width: 131px;
    height: 50px;
    left: 15px;
    top: 24px;        
}

.header-content {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
}

.menu .search-container {
    float: left;
}
  
.menu input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.menu .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.menu .search-container button:hover {
    background: #ccc;
  }

.menu {
    position: absolute;
    right: 0;
}

.menu-list {
    list-style: none;
}

.about-btn{
    position: absolute;
    width: 44px;
    height: 22px;
    left: 0px;
    top: 8px;        
}

.login-btn {
    position: absolute;
    width: 95px;
    height: 39px;
    left: 64px;
    top: 0px;
    
    background: #C8D9ED;
    border: 1px solid #1C2945;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}

.sign-up-btn {
    position: absolute;
    width: 95px;
    height: 39px;
    left: 179px;
    top: 0px;
    color: #FFFFFF;
    background: #1C2945;
    box-shadow: 0px 4px 4px rgba(73, 72, 72, 0.05);
    border-radius: 100px;    
}

.about-btn {
    border: none;
    background: none;
}


