

/* Home Page */

.page {
    display: block;
    position: absolute;
}

.page-section.hero {
    background: #C8D9ED;
    position: relative;
    width: 1440px;
    height: 428px;
    left: 0px;
    top: 96px;
}

.page-section.product-features {
    background: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 428px;
    left: 0px;
    top: 96px;
}

.page-section.testimonials {
    background: #C8D9ED;
    position: relative;
    width: 1440px;
    height: 428px;
    left: 0px;
    top: 96px;
}

.page-section.product-categories {
    background: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 428px;
    left: 0px;
    top: 96px;
}

.page-section.cta {
    background: #C8D9ED;
    position: relative;
    width: 1440px;
    height: 428px;
    left: 0px;
    top: 96px;
}

.button.getting-started {
    position: absolute;
    width: 180px;
    height: 48px;
    left: 94px;
    top: 113px;
    color: #ffff;
    background: #1C2945;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;    
}

.hero-text {
    position: absolute;
    width: 427px;
    height: 258px;
    left: -25px;
    top: -10px;  
    background: #FFFFFF;    
}

.hero-img {
    position: relative; 
    display: block; 
}

.page-section.hero {
    display: inline-block;
  }