<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="main-header-content">
    <a class="link" href="{{ '/index.html' |  prepend: site.baseurl }}">Home</a>
    <a class="link" href="{{ '/about' |  prepend: site.baseurl }}">About</a>
    <a class="link" href="{{ '/log-in' |  prepend: site.baseurl }}">Log In</a>
    <a class="link" href="{{ '/sign-up' |  prepend: site.baseurl }}">Sign Up</a>
    </header>
</html>